@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

ul {
    list-style: none;
}

header .ofertas {
    background: #222222;
    color: #f3f3f3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
    padding: 4px 52px 4px 90px;

}

.ofertas ul {
    display: flex;
}

header .nav-container {
    background: #F0A83E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 11px 40px;

}

header a {
    color: #f3f3f3;
}

nav a {
    font-size: 13px;
}

nav ul {
    display: flex;
}

.ofertas li {
    padding-left: 12px;
}

nav ul li {
    padding: 10px;
}

.banner {
    background-image: url(../img/bowl-and-pet-daities-on-green-background\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 409px;
}